# Assignment #3

## 2. Search engine

### Libraries

In [2]:
import pandas as pd
import os
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
import string
import pandas as pd
import os
import re
import requests
import numpy as np
import time
import folium
from folium import IFrame
from geopy.distance import geodesic
from geopy.geocoders import Nominatim
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from IPython.display import display

nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/onurozansunger/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/onurozansunger/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

### Script to create a DataFrame for the courses using the TSV files

In [3]:

# Path to the folder containing TSV files
folder_path = 'HW3/courses_tsv'

dfs = []

# Iterate over each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.tsv'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read TSV file into a DataFrame
        df = pd.read_csv(file_path, sep='\t', header=None, names=[
            'courseName', 'universityName', 'facultyName', 'isItFullTime',
            'description', 'startDate', 'fees', 'modality', 'duration',
            'city', 'country', 'administration', 'url'
        ])
        
        # Append the DataFrame to the list
        dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
final_df = pd.concat(dfs, ignore_index=True)

# Write the DataFrame to a CSV file
final_df.to_csv('masters_csv', index=False)

In [4]:
df = pd.read_csv('masters_csv')
df.head()

,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,country,administration,url
0,Future Manufacturing and Nanoscale Engineering...,University College London,Department of Mechanical Engineering,['Full Time'],Register your interest in graduate study at UC...,September,Please see the university website for further ...,MSc,1 year full time,London,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
1,Marketing - MSc,University of Bristol,Faculty of Social Sciences and Law,['Full Time'],"This programme, accredited by both the Charter...",September,Please see the university website for further ...,MSc,1 year full-time,Bristol,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
2,Global Management of Natural Resources MSc,University College London,Department of Chemical Engineering,['Full Time'],Register your interest in graduate study at UC...,September,"Full time - £21,200",MSc,1 year full time,London,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
3,Business Analytics MSc,University of Stirling,"Business, Management and Law","['Full Time', 'Part Time']",Business Analytics focuses on understanding th...,"September, January",Please see the university website for further ...,"PGCert,PGDip,MSc","12 months full-time, 24 months part-time",Stirling,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
4,Public Policy and Management MSc,King’s College London,King’s Business School,"['Full Time', 'Part Time']",Whether you are a social science graduate or a...,September,Please see the university website for further ...,MSc,"1 year FT, 2 years PT",London,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...

### Text Pre-processing

In [5]:
def preprocess_text(text):

    # Handling NaN/float values
    if not isinstance(text, str):
        return ''

    # Converting the text to lower case
    text = text.lower()

    # Removing punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))

    # Breaking the text into words(tokens)
    words = nltk.word_tokenize(text)

    # Removing stopwords
    stop_words = set(stopwords.words('english'))
    words = [word for word in words if word not in stop_words]

    # Stemming
    stemmer = PorterStemmer()
    words = [stemmer.stem(word) for word in words]

    # Joining the list of words to form the processed text
    processed_text = ' '.join(words)

    return processed_text

### Processing the fees column

##### Getting the currencies' USD exchange rates using fastforext API

In [6]:
url = 'https://api.fastforex.io/fetch-all'
headers = {
    'accept': 'application/json',
}

# Include the API key as a query parameter
params = {
    'api_key': '56359a1bde-e4fd75ffb0-s4bxgk',
}

# Make the GET request
response = requests.get(url, headers=headers, params=params)

# Check if the request was successful
if response.status_code == 200:
    exchange_rates = response.json()
    

else:
    print('An error has occurred.')

exchange_rates = exchange_rates['results']

first_10_items = list(exchange_rates.items())[:10]

for key, value in first_10_items:
    print(f'{key}: {value}')

AED: 3.67178
AFN: 69.23856
ALL: 94.12224
AMD: 401.63222
ANG: 1.78194
AOA: 824.36062
ARS: 356.47829
AUD: 1.52412
AWG: 1.79464
AZN: 1.69485

##### Function that retrieves the tuition fees and its currency and converts it to USD

In [7]:
# List of currency symbols and their corresponding currency codes
currency_symbols = {
    'USD': '$',
    'EUR': '€',
    'GBP': '£',
    'JPY': '¥',
    'AUD': 'A$',
    'CAD': 'C$',
    'CHF': 'CHF',
    'CNY': '¥',
    'SEK': 'kr',
    'NZD': 'NZ$',
    'INR': '₹',
    'SGD': 'S$',
    'HKD': 'HK$',
    'NOK': 'kr',
    'KRW': '₩',
    'TRY': '₺',
    'ZAR': 'R',
    'BRL': 'R$',
    'RUB': '₽',
    'MXN': 'Mex$',
    'ARS': '$',
    'IDR': 'Rp',
    'MYR': 'RM',
    'PHP': '₱',
    'THB': '฿',
    'CZK': 'Kč',
    'HUF': 'Ft',
    'PLN': 'zł',
    'ISK': 'kr',
    'DKK': 'kr',
    'AED': 'د.إ',
    'SAR': '﷼',
    'QAR': '﷼',
    'EGP': 'EGP',
    'ILS': '₪',
    'KWD': 'د.ك',
    'BHD': 'ب.د',
    'OMR': 'ر.ع.',
    'JOD': 'د.ا',
    'LBP': 'ل.ل',
    'JMD': 'J$',
    'TTD': 'TT$',
    'COP': 'COL$',
    'CLP': 'CLP$',
    'PEN': 'S/',
    'UYU': '$U',
    'CRC': '₡',
}


def extract_and_convert_fees(row, exchange_rates):

    fees_usd = 0  
    
# Regex to find the tuition fees

    for currency, symbol in currency_symbols.items():

        regex = rf'{symbol}(\d+(?:,\d{{3}})*(\.\d+)?)'
        matches = re.findall(regex, row)

        for match in matches:

            # Remove commas and convert to float
            num = float(match[0].replace(',', ''))
            # Multiply by the conversion rate to get the amount in USD
            if currency in exchange_rates:
                num *= exchange_rates[currency]
                fees_usd = max(fees_usd, num)

    return fees_usd

### Applying text-preprocessing to the column 'description' and adding the column 'fees_USD'

In [8]:
df_updated = df.copy()
df_updated['description_lemmatized'] = df_updated['description'].apply(preprocess_text)
df_updated['fees_USD'] = df_updated['fees'].apply(lambda row: extract_and_convert_fees(str(row), exchange_rates) if not pd.isnull(row) else np.nan)
df_updated['fees_USD'] = df_updated['fees_USD'].round(2)

In [9]:
# Masters degrees with tuition fees mentioned in the scraped data
dummy = df_updated[df_updated['fees_USD'] != 0]
dummy.head(8)

,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,country,administration,url,description_lemmatized,fees_USD
2,Global Management of Natural Resources MSc,University College London,Department of Chemical Engineering,['Full Time'],Register your interest in graduate study at UC...,September,"Full time - £21,200",MSc,1 year full time,London,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...,regist interest graduat studi uclmor ever grow...,16895.98
6,Construction Project Management - PgDip/PgCert...,Oxford Brookes University,School of the Built Environment,"['Full Time', 'Part Time', 'Online']",Our MSc in Construction Project Management (CP...,"September, January","Home (UK) full time - £10,800 Home (UK) part t...","PGDip,MSc,PGCert","1 year full time, 2 years part time (Sept star...",Oxford,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...,msc construct project manag cpm meet challeng ...,13150.17
10,Genes in Behaviour and Health (Research Master...,Vrije Universiteit Amsterdam,Faculty of Behavioural and Movement Sciences,['Full Time'],Nature and nurture: how do they interact and c...,September,"EU/EER Student: €2,209 NON-EU Student: €12,840","Research Only,MSc",2 years full time,Amsterdam,Netherlands,On Campus,https://www.findamasters.com/masters-degrees/c...,natur nurtur interact correl health wellb gene...,11758.49
12,MSc in Anthropology and Development Studies,Radboud University,Behavioural and Social Sciences,['Full Time'],How do grassroots initiatives by refugees impa...,September,The legal tuition for the 2024-2025 academic y...,MSc,1 year full time,Nijmegen,Netherlands,On Campus,https://www.findamasters.com/masters-degrees/c...,grassroot initi refuge impact upon practic pol...,16.00
13,International Real Estate and Planning MSc,University College London,The Bartlett School of Planning,"['Full Time', 'Part Time']",Register your interest in graduate study at UC...,September,"Full time - £18,000 Part time - £9,000",MSc,"1 year full time, 2 years part time, 5 years f...",London,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...,regist interest graduat studi uclthi programm ...,14345.64
19,MSc in Data Science & Artificial Intelligence ...,Emlyon Business School,Graduate Programmes,['Full Time'],ProgramThe aim of this program is to fill in t...,September,"€24,900 This tuition and fee charges are in ef...",MSc,18 months,Lyon,France,On Campus,https://www.findamasters.com/masters-degrees/c...,programth aim program fill gap busi engin high...,22802.67
26,Construction Management and International Deve...,University of Reading,School of Construction Management & Engineering,"['Full Time', 'Part Time']",Apply for this programmeExplore how building a...,September,"New UK/Republic of Ireland students: £12,550 ...",MSc,"1 year full time, 18-63 months flexible",Reading,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...,appli programmeexplor build infrastructur proj...,21478.61
31,Counterterrorism Risk Management and Resilienc...,Cranfield University,Cranfield Forensic Institute,"['Full Time', 'Part Time', 'Online']","OverviewThe MSc Counterterrorism, Risk Managem...",October,"• MSc Full-time £11,330 • MSc Part-time £11,33...","PGDip,PGCert,MSc",Part-time: 2 years (PgDip and PgCert) or 3 yea...,Bedford,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...,overviewth msc counterterror risk manag resili...,9029.78

### Conjunctive Querying

#### Creating the words vocabulary

In [10]:
# Create a vocabulary
vocabulary = set()

# Extract words from the 'description' column
for description in df_updated['description_lemmatized']:
     
     # Handling NaN/float values
     if isinstance(description, str):  
        words = description.split()
        vocabulary.update(words)

# Convert the vocabulary to a dictionary with words as keys and their index as values
vocabulary_dict = {idx: word for idx, word in enumerate(vocabulary)}

vocabulary_dict

{0: 'processingon',
 1: 'alipay',
 2: 'underwat',
 3: 'suscept',
 4: 'dissert',
 5: 'marketstripl',
 6: 'deficit',
 7: 'novic',
 8: 'dataset',
 9: 'midwiferi',
 10: 'various',
 11: 'ioh',
 12: 'wellresearch',
 13: 'biogeochemistryth',
 14: 'neurosciencerel',
 15: 'learnthrough',
 16: 'emiss',
 17: 'exceed',
 18: 'trajectori',
 19: 'palaeoclim',
 20: '90physic',
 21: 'disciplinari',
 22: 'fieldadv',
 23: 'recov',
 24: 'università',
 25: 'phdour',
 26: 'environmentonc',
 27: 'technicalbas',
 28: 'programthi',
 29: 'shock',
 30: 'contagion',
 31: 'economyand',
 32: 'esteem',
 33: 'median',
 34: 'breakdown',
 35: '650',
 36: 'businessman',
 37: 'fma',
 38: 'motor',
 39: 'crescendo',
 40: 'programmesinc',
 41: 'cognitioncours',
 42: 'assessmentlearn',
 43: 'bordercross',
 44: 'includingadvanc',
 45: 'extensivelyth',
 46: 'unit',
 47: 'concis',
 48: 'ukcric',
 49: 'marketfocu',
 50: 'besid',
 51: 'muchneed',
 52: 'princeton',
 53: 'coursean',
 54: 'twelv',
 55: 'approacheffect',
 56: '3dfigur',
 57: 'big',
 58: 'managementma',
 59: 'immunoassay',
 60: 'dba',
 61: 'farmtofork',
 62: 'hing',
 63: '\ufeffyou',
 64: 'reconvers',
 65: 'hawaii',
 66: 'accident',
 67: 'servicesth',
 68: 'arous',
 69: 'wellround',
 70: 'courseexplor',
 71: 'contentin',
 72: 'modellingmodel',
 73: '1800m2',
 74: 'modular',
 75: 'ic',
 76: 'sp5',
 77: 'placementmechan',
 78: 'populationthi',
 79: 'embryologybuild',
 80: 'safetythrough',
 81: 'palaeographi',
 82: 'symptomatolog',
 83: 'diseaseshap',
 84: 'corporationssecur',
 85: 'classroomabout',
 86: 'purchas',
 87: 'nonspecialist',
 88: '1969',
 89: 'trader',
 90: 'hous',
 91: 'rolex',
 92: 'psychotherapist',
 93: 'mepp',
 94: 'widelyth',
 95: '2007',
 96: 'equip',
 97: 'highlyemploy',
 98: 'workpleas',
 99: 'unfold',
 100: 'strategiesenergi',
 101: 'practicereput',
 102: 'hygien',
 103: 'globallycours',
 104: 'programmefinanci',
 105: 'travaux',
 106: 'freud',
 107: 'familybas',
 108: 'misnom',
 109: 'immunebas',
 110: 'bank',
 111: 'augmentedvirtu',
 112: 'portalwhen',
 113: 'agingassoci',
 114: 'rollout',
 115: 'transplant',
 116: 'essay',
 117: 'animalassist',
 118: 'geoscientif',
 119: 'uclbecom',
 120: 'airflow',
 121: '£13',
 122: 'uclan',
 123: 'outcomesth',
 124: 'criticalthink',
 125: 'maxim',
 126: 'clearli',
 127: 'healthth',
 128: 'address',
 129: 'gasesthes',
 130: 'jumpstart',
 131: '500',
 132: 'dataanalyt',
 133: 'etcthroughout',
 134: 'marketyoul',
 135: 'reportwrit',
 136: 'south',
 137: '16',
 138: 'careercours',
 139: 'skillsfocus',
 140: 'rdata',
 141: 'oversight',
 142: 'insecur',
 143: 'residenti',
 144: 'male',
 145: 'octoberus',
 146: 'moduleparticip',
 147: 'infrastructuresstudi',
 148: 'ul',
 149: 'methodstak',
 150: 'iema',
 151: 'scarciti',
 152: 'nri',
 153: 'trilemma',
 154: 'ormylia',
 155: 'heath',
 156: 'highstreet',
 157: 'secondlevel',
 158: 'surg',
 159: 'cytogenet',
 160: 'lassen',
 161: 'zur',
 162: 'neurodegener',
 163: 'glofor',
 164: 'coronaviru',
 165: 'none',
 166: 'cours',
 167: 'spentthi',
 168: 'interactionsy',
 169: 'elevatorswith',
 170: 'intelligenceoveral',
 171: 'therapeut',
 172: 'psychopatholog',
 173: 'partnershipscours',
 174: 'pastit',
 175: 'rock',
 176: 'scienceunderstand',
 177: 'administr',
 178: 'managersth',
 179: 'overviewappli',
 180: 'assistantsour',
 181: 'formth',
 182: 'industryabout',
 183: 'radiotherapist',
 184: 'wellknown',
 185: 'pwc',
 186: 'sectorundertak',
 187: 'shortlist',
 188: 'winner',
 189: 'gphc',
 190: 'rd',
 191: 'applie\ufeffd',
 192: 'domainspecif',
 193: 'confidenti',
 194: 'engineeringif',
 195: 'mh',
 196: 'sciencerel',
 197: 'hpc',
 198: 'logic',
 199: 'industryan',
 200: 'apm',
 201: 'glastonburi',
 202: 'hubsabout',
 203: 'technologiesif',
 204: 'hochschul',
 205: 'malaria',
 206: 'cyberattack',
 207: 'edf',
 208: 'asmateri',
 209: 'biopsychosoci',
 210: 'organizationy',
 211: 'worldadv',
 212: 'linkedth',
 213: 'bac',
 214: 'htw',
 215: 'aviationgain',
 216: 'establishmentsthi',
 217: 'arealoc',
 218: 'contrari',
 219: 'cbi',
 220: 'red',
 221: 'visit',
 222: 'historyrev',
 223: 'itexplor',
 224: 'staf',
 225: 'operationsin',
 226: 'monthli',
 227: 'economicsmor',
 228: 'modern',
 229: 'eisai',
 230: 'employersthi',
 231: 'relevanceto',
 232: 'cilt',
 233: 'therapiststhos',
 234: 'clean',
 235: '\ufeffbuild',
 236: 'utc',
 237: 'organizationsthrough',
 238: 'developmentabout',
 239: 'crossdisciplinari',
 240: 'internship',
 241: 'welltrain',
 242: 'toolsunfortun',
 243: 'wellpaid',
 244: 'hertsindustri',
 245: 'edinburghdo',
 246: 'injustic',
 247: 'landmark',
 248: 'geoenergi',
 249: 'wellsupport',
 250: 'partnerw',
 251: 'decadesmsc',
 252: 'bioseng',
 253: 'institutethi',
 254: 'natwest',
 255: 'pigment',
 256: 'connectionsy',
 257: 'simul',
 258: 'publishablequ',
 259: 'auswirkungen',
 260: 'technologiesbring',
 261: 'centurynorth',
 262: 'supervis',
 263: 'armi',
 264: 'challengeswith',
 265: 'hopkinsdevelop',
 266: 'welfarecours',
 267: 'deserv',
 268: 'back',
 269: 'delay',
 270: 'caho',
 271: 'scienceour',
 272: 'diplomaci',
 273: 'lean',
 274: 'ergonom',
 275: 'option',
 276: 'prealloc',
 277: 'innovationthi',
 278: 'statisticianthi',
 279: 'fate',
 280: 'industryvari',
 281: 'author',
 282: 'young',
 283: 'abb',
 284: 'analyticsprescript',
 285: 'scholarshipcours',
 286: 'tripleaccredit',
 287: 'degreedevelop',
 288: 'areasopt',
 289: 'datasetslearn',
 290: 'richardson',
 291: '90urban',
 292: 'itrel',
 293: 'fieldrecognis',
 294: 'synthesi',
 295: 'technician',
 296: 'marketmass',
 297: '140',
 298: 'professionth',
 299: 'overlap',
 300: 'eventu',
 301: 'acoustiquegradu',
 302: 'flaminia',
 303: 'inequalitiesdesign',
 304: 'policythi',
 305: 'raft',
 306: 'managementglob',
 307: 'actomyosin',
 308: 'cybersecurityexplor',
 309: 'periodexpert',
 310: 'avion',
 311: 'bestour',
 312: 'regulationscoupl',
 313: 'yearyou',
 314: 'commerc',
 315: 'hardwarekey',
 316: 'engineeringinform',
 317: 'engineersuit',
 318: 'cmm',
 319: 'complex',
 320: 'landscapesth',
 321: 'sonlin',
 322: 'thermofluid',
 323: 'contextw',
 324: 'contentcontemporari',
 325: 'programmehealth',
 326: 'planetari',
 327: 'interest',
 328: 'marin',
 329: 'death',
 330: 'liquid',
 331: 'static',
 332: 'datainform',
 333: 'methodsoper',
 334: 'monthsdata',
 335: 'daytoday',
 336: 'beruf',
 337: 'elit',
 338: 'collabor',
 339: 'charter',
 340: 'popul',
 341: 'plannersarchitectsbuild',
 342: 'exercisesblend',
 343: 'modernis',
 344: 'assessmentfacil',
 345: 'privileg',
 346: 'atu',
 347: 'skillset',
 348: 'factual',
 349: 'careersar',
 350: 'industryrecognis',
 351: 'reus',
 352: 'psychologistin',
 353: 'organizationsthi',
 354: 'resolv',
 355: 'worldsand',
 356: 'orebodi',
 357: 'premis',
 358: 'highest',
 359: 'systemson',
 360: 'professionori',
 361: 'optim',
 362: 'sharehold',
 363: 'treati',
 364: 'support',
 365: 'tamper',
 366: 'tutorship',
 367: 'planetsocieti',
 368: 'environmentsdevelop',
 369: 'mech',
 370: 'successfullypfh',
 371: 'levelsyoul',
 372: 'grappl',
 373: 'dont',
 374: 'hierarch',
 375: 'environmentsextrem',
 376: 'emlyon',
 377: 'upbring',
 378: 'risedis',
 379: 'futurebiopharmaceut',
 380: 'todaythi',
 381: 'open',
 382: 'circular',
 383: 'projectspleas',
 384: 'conditioningin',
 385: 'overallaccreditationthi',
 386: 'wallet',
 387: 'overviewtaught',
 388: 'patholog',
 389: 'demandth',
 390: 'valuebas',
 391: 'sciencesit',
 392: 'planningwho',
 393: 'bpsdesign',
 394: 'risksth',
 395: 'requirementscours',
 396: 'includingpow',
 397: 'test',
 398: 'openmind',
 399: 'muscular',
 400: 'researchlearn',
 401: 'interestthi',
 402: 'overviewwork',
 403: 'everyon',
 404: 'practition',
 405: 'sustainabilitya',
 406: 'spenc',
 407: 'cant',
 408: 'came',
 409: 'mclinr',
 410: 'registrationaddit',
 411: 'relentlessli',
 412: 'cbtthroughout',
 413: 'marxist',
 414: 'probat',
 415: 'calam',
 416: 'nationwid',
 417: '10000word',
 418: 'strategystud',
 419: 'vibrant',
 420: 'dealt',
 421: 'allocationsy',
 422: 'bench',
 423: 'mayoprogramm',
 424: 'foundationstag',
 425: 'catalysi',
 426: 'studentori',
 427: 'summar',
 428: 'fr',
 429: 'formatgeograph',
 430: 'diseasenutritionist',
 431: 'fielddesign',
 432: 'behaviourour',
 433: 'phdparticip',
 434: 'suffer',
 435: 'fight',
 436: 'graphicsanimationyoul',
 437: 'professionallyy',
 438: 'palaeontolog',
 439: 'linesconsid',
 440: 'empa',
 441: 'subject',
 442: 'toolkitintroductionbiomed',
 443: 'mmgt',
 444: 'desk',
 445: 'moleculecentr',
 446: 'fascin',
 447: 'parliament',
 448: 'precis',
 449: 'orthopaed',
 450: 'areasview',
 451: 'catalonia',
 452: 'even',
 453: 'futuresbenefit',
 454: '2024global',
 455: 'ceram',
 456: 'optometrist',
 457: 'micronanostructur',
 458: 'goalori',
 459: 'appeal',
 460: 'organisationsquantit',
 461: 'landslid',
 462: 'preserv',
 463: 'brook',
 464: 'worldcomput',
 465: 'postcovid',
 466: 'computeraid',
 467: 'fullstackdevelop',
 468: 'qcgd',
 469: 'intermedi',
 470: 'tailormad',
 471: 'leben',
 472: '296',
 473: 'practiceappli',
 474: 'outlineth',
 475: 'resourcesexploit',
 476: 'instmc',
 477: 'erad',
 478: 'mani',
 479: 'observatori',
 480: 'inequalitiesth',
 481: 'practicum',
 482: 'systemsdesign',
 483: 'techniqueschoos',
 484: 'analysesdur',
 485: 'loweffort',
 486: 'skillsabout',
 487: 'cyp',
 488: 'nioshth',
 489: 'inspir',
 490: 'alon',
 491: 'hei',
 492: 'internationalqu',
 493: 'manufacturethi',
 494: 'degreemsc',
 495: 'astrium',
 496: 'treatmenton',
 497: 'neurobiolog',
 498: 'bound',
 499: 'psychologyy',
 500: 'gene',
 501: 'businessyour',
 502: 'consult',
 503: 'decommiss',
 504: 'psychometr',
 505: 'stochast',
 506: 'consultancyth',
 507: 'genealog',
 508: 'islam',
 509: 'todayprogram',
 510: 'comput',
 511: 'belief',
 512: 'overviewappl',
 513: '2018rank',
 514: 'bleu',
 515: 'worldwheth',
 516: 'habitu',
 517: 'bpsaccredit',
 518: '2017thi',
 519: 'resid',
 520: 'apprenticeshipbenefit',
 521: 'offeringabout',
 522: 'dna',
 523: 'leadershipon',
 524: 'billiondollar',
 525: 'faq',
 526: 'helicopt',
 527: 'vaccin',
 528: 'interestslearn',
 529: 'chip',
 530: 'greatnokia',
 531: 'truer',
 532: 'dosag',
 533: 'industryyear',
 534: 'assessmenta',
 535: 'psychooncolog',
 536: 'wellbeingbi',
 537: 'histori',
 538: 'cybersecurityy',
 539: 'dependsin',
 540: 'iif',
 541: 'bergercours',
 542: 'industrieswhi',
 543: 'hackathon',
 544: 'mphil',
 545: 'biospher',
 546: 'macmillan',
 547: 'deviant',
 548: 'perspectivestud',
 549: 'linkedin',
 550: 'sixth',
 551: 'donat',
 552: 'providean',
 553: 'poverti',
 554: 'paramedicsth',
 555: 'fieldsstud',
 556: 'psychologycognit',
 557: 'descriptionmathemat',
 558: 'leagu',
 559: 'bicycl',
 560: 'cartographi',
 561: 'learningcomput',
 562: 'optimisationth',
 563: 'resurg',
 564: 'fintechy',
 565: 'disabl',
 566: 'expertli',
 567: 'supplement',
 568: 'dlhe',
 569: '202114th',
 570: 'iistud',
 571: 'esrc',
 572: 'programmeenh',
 573: 'independencea',
 574: 'codemast',
 575: 'via',
 576: 'burn',
 577: 'usbas',
 578: 'researchinterest',
 579: 'farmsth',
 580: 'intelligencelearn',
 581: 'hostil',
 582: 'specialisationintern',
 583: 'challengesanalyt',
 584: 'joint',
 585: 'decis',
 586: 'managementrisk',
 587: 'center',
 588: 'applicationbi',
 589: 'brunelth',
 590: 'hb',
 591: '1688',
 592: 'practicefulltim',
 593: 'marketingdeliv',
 594: 'cancerin',
 595: 'edunivers',
 596: 'mib',
 597: 'analysisquantit',
 598: 'make',
 599: 'approachit',
 600: 'overviewwhi',
 601: 'digitalisierung',
 602: 'neither',
 603: 'assignmentsproblemsolv',
 604: 'simplest',
 605: 'overviewon',
 606: 'systemssmart',
 607: 'techniquesdynam',
 608: 'courseengin',
 609: 'implementationy',
 610: 'fieldwork',
 611: 'employersthrough',
 612: 'lifeway',
 613: 'skillsmodul',
 614: 'datasavvi',
 615: 'choicesthat',
 616: 'contentprepar',
 617: 'risksour',
 618: 'ansac',
 619: 'multilingu',
 620: 'sandwich',
 621: 'postregistr',
 622: 'corona',
 623: 'englishno',
 624: 'turbomachineri',
 625: 'intelligencedata',
 626: 'sectorour',
 627: 'great',
 628: 'onwardsthi',
 629: 'methodologiesintroductionadvanc',
 630: 'orthodoxi',
 631: 'systemsaccess',
 632: '1the',
 633: 'mediaimpact',
 634: 'boundariesyoul',
 635: 'siberia',
 636: 'financeaccreditationaccredit',
 637: 'metallurgycompositesadvanc',
 638: 'oceanographi',
 639: 'order',
 640: 'modulesb',
 641: 'appropri',
 642: 'behaviourdur',
 643: 'autonomi',
 644: 'geodynam',
 645: 'radiolog',
 646: 'practitionerfocus',
 647: '2021teach',
 648: 'sigmaintern',
 649: 'weve',
 650: 'workflow',
 651: 'inperson',
 652: 'electrophysiologywhi',
 653: 'organisationsbi',
 654: 'premiership',
 655: 'internationallyyoul',
 656: 'highachiev',
 657: 'dothrough',
 658: 'koreath',
 659: 'eagerli',
 660: 'longestestablish',
 661: 'evidencebasedyoul',
 662: 'systemsth',
 663: 'expertlydesign',
 664: 'simpli',
 665: 'fairli',
 666: 'tunnelsindustri',
 667: 'programmeconsum',
 668: 'fastmov',
 669: 'formul',
 670: 'peoplecentr',
 671: 'networksy',
 672: 'lum',
 673: 'journalist',
 674: 'sectorthi',
 675: 'label',
 676: 'perspectivestak',
 677: 'climatolog',
 678: 'programmeon',
 679: 'phlebotomi',
 680: '700000',
 681: 'peac',
 682: 'tomographi',
 683: 'esdc',
 684: 'understood',
 685: 'impetu',
 686: 'clive',
 687: 'embrac',
 688: 'sustainabilityexplor',
 689: 'broaden',
 690: 'onhand',
 691: 'acidif',
 692: 'extremist',
 693: 'ers',
 694: 'backgrounddesign',
 695: 'equipmentwear',
 696: 'ommatidia',
 697: 'wast',
 698: 'settingsy',
 699: 'ccl',
 700: 'mim',
 701: 'coursewheth',
 702: 'old',
 703: 'productsdrug',
 704: 'studieswhat',
 705: 'industrydespit',
 706: 'stratificationa',
 707: 'analyst',
 708: 'technologyyoul',
 709: 'wellintegr',
 710: 'greenfolk',
 711: 'instead',
 712: 'feringa',
 713: 'accreditationsindustryfocus',
 714: 'ambra',
 715: 'corporationsyoul',
 716: 'postcold',
 717: 'brief',
 718: 'securityenhanc',
 719: 'nanostructur',
 720: 'inequ',
 721: 'microprocessordspfpga',
 722: 'prenat',
 723: 'emfin',
 724: 'solutionsse',
 725: 'programmewhat',
 726: 'postdisast',
 727: 'betterwhat',
 728: 'nhsthe',
 729: 'datay',
 730: 'applicability·',
 731: 'lse\ufeff\ufeffth',
 732: 'deliverythi',
 733: 'deregul',
 734: 'designth',
 735: 'universityour',
 736: 'polimi',
 737: 'marketbusi',
 738: 'learninghow',
 739: 'adob',
 740: 'carestudi',
 741: 'notif',
 742: 'heredevelop',
 743: 'scanner',
 744: 'bioscienc',
 745: 'vodafoneprofession',
 746: 'technologyabout',
 747: 'courseelectron',
 748: 'speechlanguagehear',
 749: 'viikki',
 750: 'safetyth',
 751: 'billboard',
 752: 'frameworky',
 753: 'simex',
 754: 'requirementsintroductionthi',
 755: 'berufsbegleitend',
 756: 'organisationswith',
 757: 'freestand',
 758: 'programmebas',
 759: 'mscpgcert',
 760: 'frontend',
 761: 'septemberour',
 762: '400000',
 763: 'philip',
 764: 'crosscut',
 765: 'paralegalsgeographersland',
 766: 'compet',
 767: 'margin',
 768: '63',
 769: '1018',
 770: 'lüneburg',
 771: 'understandingaccreditationaccredit',
 772: 'brighter',
 773: 'nonarchitectur',
 774: 'eia',
 775: 'sciencedur',
 776: 'areseptemb',
 777: 'nonunion',
 778: 'cyberphys',
 779: 'lot',
 780: 'flight',
 781: 'evidencebuild',
 782: 'auster',
 783: 'urbanisationwork',
 784: 'governmentlearn',
 785: 'geomat',
 786: 'projectsrisk',
 787: 'mass',
 788: 'sharpli',
 789: 'neuropath',
 790: 'sbe',
 791: 'sport',
 792: 'underground',
 793: 'neededour',
 794: 'beforeyoul',
 795: '1',
 796: 'learningattain',
 797: 'mysteri',
 798: 'systemswhen',
 799: 'objectsour',
 800: 'subjectsproblem',
 801: 'chan',
 802: 'universityto',
 803: 'wellcom',
 804: 'druginduc',
 805: 'informationinvestig',
 806: 'eyecatch',
 807: 'forc',
 808: 'datasci',
 809: 'industrydata',
 810: 'paediatrician',
 811: 'contentwith',
 812: 'water',
 813: 'bedroom',
 814: 'systemcoopinternship',
 815: 'organisationsstudi',
 816: 'hazardsth',
 817: 'standardsy',
 818: 'conceptsdescript',
 819: 'communityori',
 820: 'projectbas',
 821: 'preamput',
 822: 'psychot',
 823: 'prioritis',
 824: 'pgdipmsc',
 825: 'constructionif',
 826: 'consid',
 827: 'feat',
 828: 'southamptonthi',
 829: 'são',
 830: 'aboutenergi',
 831: 'skillsth',
 832: 'incom',
 833: 'evolvethi',
 834: 'carersvolunt',
 835: 'pronounc',
 836: 'phytopharmacolog',
 837: 'neurodevelopment',
 838: 'professionwiderang',
 839: 'collapseon',
 840: 'assessmentthi',
 841: 'economyon',
 842: 'psychiatristsy',
 843: 'psychologistth',
 844: 'prescriberyour',
 845: 'globallyment',
 846: 'convert',
 847: 'infrastructurethi',
 848: 'innat',
 849: 'util',
 850: 'swgdam',
 851: 'evora',
 852: 'enterpris',
 853: 'urban',
 854: 'workcours',
 855: 'learningin',
 856: 'merck',
 857: 'diseasear',
 858: 'workthi',
 859: 'canadian',
 860: 'universit',
 861: 'misconcept',
 862: 'board',
 863: 'comunicazion',
 864: 'edit',
 865: '\ufeffmake',
 866: 'lsebocconi',
 867: 'lidar',
 868: 'landscapeth',
 869: '£12',
 870: 'proxim',
 871: 'sustainablyy',
 872: 'slaveri',
 873: 'descriptionchang',
 874: 'contextswatch',
 875: 'contexttak',
 876: 'knowedeg',
 877: 'hospitalis',
 878: 'film',
 879: 'universityin',
 880: 'laboratoriesy',
 881: 'ipo',
 882: '\ufeffit',
 883: 'manufactur',
 884: 'livessuch',
 885: 'spanishoverviewour',
 886: 'india',
 887: 'involvedin',
 888: 'epcc',
 889: 'ninemonth',
 890: 'whale',
 891: 'organisationfinanci',
 892: 'ihe',
 893: 'actorsfurth',
 894: 'propellerdriven',
 895: 'globefrom',
 896: 'firstsemest',
 897: 'rethink',
 898: 'one',
 899: 'successmanag',
 900: 'theoreticallybas',
 901: 'digitalis',
 902: 'array',
 903: 'problemscomput',
 904: 'workwho',
 905: 'dive',
 906: '18month',
 907: 'delft',
 908: 'internationallyour',
 909: 'automationcontrol',
 910: 'utrecht',
 911: 'wieder',
 912: 'radboud',
 913: 'propfan',
 914: 'brunelgood',
 915: '\ufeffoverviewth',
 916: 'moor',
 917: 'imaginativelyth',
 918: 'approachthi',
 919: 'levelsther',
 920: 'managementunderstand',
 921: 'radiographerthi',
 922: 'qualificationcor',
 923: 'olfactori',
 924: 'plenti',
 925: 'associationdur',
 926: 'biofuelsprotect',
 927: 'nondis',
 928: 'engineersthi',
 929: 'depriv',
 930: '2024there',
 931: 'internation',
 932: 'neurodegen',
 933: 'ward',
 934: 'entrycan',
 935: 'culturesdevelop',
 936: 'sectorsa',
 937: 'devianc',
 938: 'autism',
 939: 'atlantiqu',
 940: 'needson',
 941: '2010',
 942: 'aiabout',
 943: 'ona',
 944: 'bn',
 945: 'evolutionari',
 946: 'managementcustom',
 947: 'le',
 948: 'volum',
 949: 'communityprogram',
 950: 'deliveredth',
 951: 'channel',
 952: 'aviationth',
 953: 'nontechn',
 954: 'compound',
 955: 'operationsaccreditationmsc',
 956: 'sectorsunderstand',
 957: 'cryptograph',
 958: 'researchwhat',
 959: 'assur',
 960: '2024thi',
 961: 'marchig',
 962: 'oreal',
 963: 'farreach',
 964: 'morocco',
 965: 'sciencebi',
 966: 'multiloc',
 967: 'universityunit',
 968: 'oocyt',
 969: 'göttingen',
 970: 'satisfactionn',
 971: 'expertscours',
 972: 'ugentth',
 973: 'developmentwhi',
 974: '–prepar',
 975: 'founder',
 976: 'overviewfor',
 977: '12week',
 978: 'reutersparticip',
 979: 'prosthet',
 980: 'instructor',
 981: 'nonpetroleum',
 982: 'patent',
 983: 'trackrecord',
 984: 'clearth',
 985: 'earth',
 986: 'aspirationsstud',
 987: 'lens',
 988: 'gmbpss',
 989: 'twist',
 990: 'cima',
 991: 'diseasesthi',
 992: 'studentsindustryfocus',
 993: 'healthstudi',
 994: 'ticket',
 995: 'switch',
 996: 'shadow',
 997: 'biosens',
 998: 'interventionskeen',
 999: 'finger',
 ...}

#### Creating the inverted index

In [11]:
# Create a dictionary to store word occurrences with row indices
result_dict = {word: [] for word in vocabulary}

# Iterate over rows to find occurrences
i = 0
for idx, description in enumerate(df_updated['description_lemmatized']):

    # Handling NaN/float values
    if isinstance(description, str):  
        words = description.split()
        for word in words:
            if word in vocabulary:
                result_dict[word].append(idx)
    
words_frequency = {}

for index, word in vocabulary_dict.items():
    if word in result_dict:
        words_frequency[index] = result_dict[word]

words_frequency

# Create a DataFrame from the dictionary
inverted_index = pd.DataFrame(list(result_dict.items()), columns=['word', 'documents_IDs'])
inverted_index['documents_IDs'] = inverted_index['documents_IDs'].apply(lambda x: list(set(x)))
inverted_index.to_csv('inverted_index.csv', index=False)
inverted_index.head()

           word                                      documents_IDs
0  processingon                                              [546]
1        alipay                                             [1849]
2      underwat                                       [1061, 4615]
3       suscept                                             [3311]
4       dissert  [529, 2069, 2071, 1049, 538, 3100, 3613, 38, 4...

In [12]:
inverted_index.shape

(14742, 2)

#### Function to process the search query

In [13]:
def execute_query(query, inverted_index, df):
    
    # Apply text preprocessing to the query
    processed_query = preprocess_text(query)

    query_words = processed_query.split()

    # Find document_IDs for each word in the query using the inverted index
    result_document_ids = []
    
    for word in query_words:

        if word in inverted_index['word'].values:

            # Get the document_IDs for the current word
            word_document_ids = inverted_index.loc[inverted_index['word'] == word, 'documents_IDs'].values[0]

            # Add the document_IDs to the result list
            result_document_ids.extend(word_document_ids)

    # Remove duplicate document_IDs
    result_document_ids = list(set(result_document_ids))
    result_document_ids.sort()
    
    # Return the rows corresponding to the document_IDs
    return df_updated.loc[result_document_ids, ['courseName', 'universityName', 'description', 'city', 'url']]

In [14]:
sample_query = 'advanced knowledge'
result = execute_query(sample_query, inverted_index, df_updated)
print(f'Number of results: {len(result)}')
result.head()

Number of results: 2491

,courseName,universityName,description,city,url
0,Future Manufacturing and Nanoscale Engineering...,University College London,Register your interest in graduate study at UC...,London,https://www.findamasters.com/masters-degrees/c...
1,Marketing - MSc,University of Bristol,"This programme, accredited by both the Charter...",Bristol,https://www.findamasters.com/masters-degrees/c...
4,Public Policy and Management MSc,King’s College London,Whether you are a social science graduate or a...,London,https://www.findamasters.com/masters-degrees/c...
6,Construction Project Management - PgDip/PgCert...,Oxford Brookes University,Our MSc in Construction Project Management (CP...,Oxford,https://www.findamasters.com/masters-degrees/c...
8,Construction Project Management with Industry ...,Heriot-Watt University,OverviewConstruction Project Management at Her...,Edinburgh,https://www.findamasters.com/masters-degrees/c...

### Conjunctive querying and Ranking Score

#### TF-IDF

In [15]:
# TF-IDF Vectorization
tfidf_vectorizer = TfidfVectorizer(vocabulary=inverted_index['word'].values)
tfidf_matrix = tfidf_vectorizer.fit_transform(df_updated['description_lemmatized'])

# Convert the TF-IDF matrix to a DataFrame for better visualization
df_tfidf = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out(), index=df_updated.index)
df_tfidf.head()

,processingon,alipay,underwat,suscept,dissert,marketstripl,deficit,novic,dataset,midwiferi,...,fouryear,copyright,likeprogrammingfinanci,nanodevic,consum,explorationit,20,roboadvisori,stellenbosch,infrastructuregradu
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# Creating the new inverted index
inverted_index_tfidf = inverted_index.copy()

# create a new column to store the document-tfidf pairs to match the format required
inverted_index_tfidf['documents_tfidf_pairs'] = inverted_index_tfidf.word.apply(lambda word: [(doc_id, df_tfidf.loc[doc_id, word]) for doc_id in df_tfidf.index if df_tfidf.loc[doc_id, word] > 0])
inverted_index_tfidf.head()

,word,documents_IDs,documents_tfidf_pairs
0,processingon,[546],"[(546, 0.2767471758145058)]"
1,alipay,[1849],"[(1849, 0.2350347613789217)]"
2,underwat,"[1061, 4615]","[(1061, 0.20179371165774182), (4615, 0.1711729..."
3,suscept,[3311],"[(3311, 0.21399679275944894)]"
4,dissert,"[529, 2069, 2071, 1049, 538, 3100, 3613, 38, 4...","[(38, 0.0971298811704156), (42, 0.081271170532..."

##### Function that executes the query by applying cosine similarity

In [17]:
def execute_query_modified(query, inverted_index_tfidf, df, df_tfidf, tfidf_vectorizer):

    # Preprocess the query
    query_words = preprocess_text(query).split()

    # Find related documents
    related_docs = set.intersection(*(
        set(id for id, _ in inverted_index_tfidf.loc[inverted_index_tfidf['word'] == word, 'documents_tfidf_pairs'].iloc[0])
        for word in query_words
        if word in inverted_index_tfidf['word'].values
    ))

    # Return an empty DataFrame if no related documents were found
    if not related_docs:
        return pd.DataFrame()

    # Calculate cosine similarity for each document
    query_vectorized = tfidf_vectorizer.transform([' '.join(query_words)])
    similarities = {id: cosine_similarity(query_vectorized, df_tfidf.loc[id].values.reshape(1, -1))[0][0] for id in related_docs}

    # Sort documents by their similarity score
    sorted_doc_ids = sorted(similarities, key=similarities.get, reverse=True)

    output = df.loc[sorted_doc_ids, ['courseName', 'universityName', 'description', 'city', 'fees_USD', 'url']]
    output['similarity'] = [similarities[id] for id in sorted_doc_ids]

    return output.reset_index(drop=True)

##### Executing the function using the query "advanced knowledge"

In [18]:
query = 'advanced knowledge'
query_result = execute_query_modified(query, inverted_index_tfidf, df_updated, df_tfidf, tfidf_vectorizer).head(15)
query_result

,courseName,universityName,description,city,fees_USD,url,similarity
0,Advanced Computing MSc,King’s College London,Our Advanced Computing MSc provides knowledge ...,London,0.00,https://www.findamasters.com/masters-degrees/c...,0.394639
1,Advancing Practice - MSc,University of Northampton,Our MSc Advancing Practice awards support the ...,Northampton,0.00,https://www.findamasters.com/masters-degrees/c...,0.380455
2,Advanced Healthcare Practice - MSc,Cardiff University,Why study this courseOur MSc Advanced Healthca...,Cardiff,0.00,https://www.findamasters.com/masters-degrees/c...,0.379754
3,Advanced Clinical Practice - MSc,Canterbury Christ Church University,Gain the knowledge and skills needed to become...,Canterbury,1283.14,https://www.findamasters.com/masters-degrees/c...,0.359401
4,Advanced Mechanical Engineering - MSc (Eng),University of Leeds,This course offers a broad range of advanced s...,Leeds,24706.38,https://www.findamasters.com/masters-degrees/c...,0.337821
5,Advanced Biomedical Engineering - MSc,University of Bradford,Biomedical engineering is a fast evolving inte...,Bradford,0.00,https://www.findamasters.com/masters-degrees/c...,0.316692
6,Advanced Clinical Practice - MSc,University of Northampton,Our MSc Advanced Clinical Practice course aims...,Northampton,0.00,https://www.findamasters.com/masters-degrees/c...,0.311848
7,Advanced Professional Practice (MSc),University of Gloucestershire,Our lecturers are research active experts who ...,Gloucester,0.00,https://www.findamasters.com/masters-degrees/c...,0.311319
8,Advanced Computing - MSc,University of the West of Scotland,Our MSc Advanced Computing course is designed ...,Glasgow,0.00,https://www.findamasters.com/masters-degrees/c...,0.305071
9,Advanced Clinical Practice (AHP) - MSc/PGDip/P...,Bangor University,The programme has been developed to enhance pr...,Bangor,0.00,https://www.findamasters.com/masters-degrees/c...,0.299051
10,Advanced Clinical Practitioner - MSc,University of Sunderland,The MSc Advanced Clinical Practitioner is a hi...,Sunderland,0.00,https://www.findamasters.com/masters-degrees/c...,0.296599
11,Advanced Computer Science - MSc/PgD/PgC,Cardiff Metropolitan University,This Master's degree in Advanced Computer Scie...,Cardiff,0.00,https://www.findamasters.com/masters-degrees/c...,0.295198
12,Advanced Practice in Healthcare MSc,University of Liverpool,Explore specialist areas of practice in-depth ...,Liverpool,2763.13,https://www.findamasters.com/masters-degrees/c...,0.294579
13,Management and Digital Business (with Advanced...,Liverpool John Moores University,This Advanced Practice course provides an in-d...,Liverpool,0.00,https://www.findamasters.com/masters-degrees/c...,0.294348
14,Advanced Practice in Healthcare - MSc/PGDip/PG...,University of Birmingham,The MSc Advanced Practice in Healthcare is aim...,Birmingham,0.00,https://www.findamasters.com/masters-degrees/c...,0.279512

## 3. Define a new score!

Adding a new Dataframe to our existing one to write a scoring function.

In [19]:
qs_path = '2024 QS World University Rankings 1.1 (For qs.com).csv'
qs_df = pd.read_csv(qs_path)
qs_df.head()

,2024 RANK,2023 RANK,Institution Name,Country Code,Country,SIZE,FOCUS,RES.,AGE,STATUS,...,International Faculty Rank,International Students Score,International Students Rank,International Research Network Score,International Research Network Rank,Employment Outcomes Score,Employment Outcomes Rank,Sustainability Score,Sustainability Rank,Overall SCORE
0,1,1,Massachusetts Institute of Technology (MIT),US,United States,M,CO,VH,5.0,B,...,56,88.2,128,94.3,58,100.0,4,95.2,51,100.0
1,2,2,University of Cambridge,UK,United Kingdom,L,FC,VH,5.0,A,...,64,95.8,85,99.9,7,100.0,6,97.3,33=,99.2
2,3,4,University of Oxford,UK,United Kingdom,L,FC,VH,5.0,A,...,110,98.2,60,100.0,1,100.0,3,97.8,26=,98.9
3,4,5,Harvard University,US,United States,L,FC,VH,5.0,B,...,210,66.8,223,100.0,5,100.0,1,96.7,39,98.3
4,5,3,Stanford University,US,United States,L,FC,VH,5.0,B,...,78,51.2,284,95.8,44,100.0,2,94.4,63,98.1

Matching the collumn names on dataframes.

In [20]:
if 'fees_USD' in dummy.columns:
    # Replace 'fees' column in df_updated with 'fees_USD' column from dummy
    df_updated['fees'] = dummy['fees_USD']

In [21]:
df_updated = df_updated.merge(qs_df, left_on='universityName', right_on='Institution Name', how='left')

In [22]:
# Dropping columns from df_updated
columns_to_drop = ['Academic Reputation Rank', 'Employer Reputation Rank','Faculty Student Rank','Faculty Student Rank', 'Citations per Faculty Rank', 'International Faculty Rank', 'International Students Rank', 'International Research Network Rank', 'Employment Outcomes Rank',  'Sustainability Rank', 'Overall SCORE']
df_updated = df_updated.drop(labels=columns_to_drop, axis=1)

In [23]:
df_updated.head()

,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,...,STATUS,Academic Reputation Score,Employer Reputation Score,Faculty Student Score,Citations per Faculty Score,International Faculty Score,International Students Score,International Research Network Score,Employment Outcomes Score,Sustainability Score
0,Future Manufacturing and Nanoscale Engineering...,University College London,Department of Mechanical Engineering,['Full Time'],Register your interest in graduate study at UC...,September,NaN,MSc,1 year full time,London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Marketing - MSc,University of Bristol,Faculty of Social Sciences and Law,['Full Time'],"This programme, accredited by both the Charter...",September,NaN,MSc,1 year full-time,Bristol,...,A,74.9,84.7,47.3,64.7,85.5,86.8,84.4,39.6,81.3
2,Global Management of Natural Resources MSc,University College London,Department of Chemical Engineering,['Full Time'],Register your interest in graduate study at UC...,September,16895.98,MSc,1 year full time,London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Business Analytics MSc,University of Stirling,"Business, Management and Law","['Full Time', 'Part Time']",Business Analytics focuses on understanding th...,"September, January",NaN,"PGCert,PGDip,MSc","12 months full-time, 24 months part-time",Stirling,...,A,11.5,10.2,10.5,34.7,71.9,83.5,14.4,14.8,79.8
4,Public Policy and Management MSc,King’s College London,King’s Business School,"['Full Time', 'Part Time']",Whether you are a social science graduate or a...,September,NaN,MSc,"1 year FT, 2 years PT",London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# print all column names (factors) of the DataFrame
print(df_updated.columns.tolist())

['courseName', 'universityName', 'facultyName', 'isItFullTime', 'description', 'startDate', 'fees', 'modality', 'duration', 'city', 'country', 'administration', 'url', 'description_lemmatized', 'fees_USD', '2024 RANK', '2023 RANK', 'Institution Name', 'Country Code', 'Country', 'SIZE', 'FOCUS', 'RES.', 'AGE', 'STATUS', 'Academic Reputation Score', 'Employer Reputation Score', 'Faculty Student Score', 'Citations per Faculty Score', 'International Faculty Score', 'International Students Score', 'International Research Network Score', 'Employment Outcomes Score', 'Sustainability Score']

So far we removed the unnecessery collumns and removed the Overal Score collumn (because we will define our own scoring function). Now lets start on scoring function.

In [25]:
def calculate_score(document, query):
    score = 0

    # Weights for different components
    academic_weight = 0.15
    employer_weight = 0.15
    international_faculty_weight = 0.1
    international_students_weight = 0.1
    citations_weight = 0.1
    textual_relevance_weight = 0.4

    # Academic and Employer Reputation
    if not pd.isnull(document['Academic Reputation Score']):
        score += float(document['Academic Reputation Score']) / 100 * academic_weight
    if not pd.isnull(document['Employer Reputation Score']):
        score += float(document['Employer Reputation Score']) / 100 * employer_weight

    # International Faculty and Students Scores
    if not pd.isnull(document['International Faculty Score']):
        score += float(document['International Faculty Score']) / 100 * international_faculty_weight
    if not pd.isnull(document['International Students Score']):
        score += float(document['International Students Score']) / 100 * international_students_weight

    # Citations per Faculty
    if not pd.isnull(document['Citations per Faculty Score']):
        score += float(document['Citations per Faculty Score']) / 100 * citations_weight

    # Textual Relevance
    query_terms = set(query.lower().split())
    description_terms = set(document['description_lemmatized'].lower().split())
    common_terms = query_terms.intersection(description_terms)
    score += len(common_terms) / len(query_terms) * textual_relevance_weight

    # Normalization based on the total weights
    total_weight = academic_weight + employer_weight + international_faculty_weight + international_students_weight + citations_weight + textual_relevance_weight
    normalized_score = (score / total_weight) * 100  # Normalized to be out of 100

    return min(normalized_score, 100)  # Ensuring the score doesn't exceed 100

Re-Creating the inverted index

In [26]:
# Create a dictionary to store word occurrences with row indices
result_dict = {word: [] for word in vocabulary}

# Iterate over rows to find occurrences
i = 0
for idx, description in enumerate(df_updated['description_lemmatized']):

    # Handling NaN/float values
    if isinstance(description, str):  
        words = description.split()
        for word in words:
            if word in vocabulary:
                result_dict[word].append(idx)
    
words_frequency = {}

for index, word in vocabulary_dict.items():
    if word in result_dict:
        words_frequency[index] = result_dict[word]

words_frequency

# Create a DataFrame from the dictionary
inverted_index = pd.DataFrame(list(result_dict.items()), columns=['word', 'documents_IDs'])
inverted_index['documents_IDs'] = inverted_index['documents_IDs'].apply(lambda x: list(set(x)))
inverted_index.to_csv('inverted_index.csv', index=False)
inverted_index.head()

           word                                      documents_IDs
0  processingon                                              [546]
1        alipay                                             [1849]
2      underwat                                       [1061, 4615]
3       suscept                                             [3311]
4       dissert  [529, 2069, 2071, 1049, 538, 3100, 3613, 38, 4...

Now we will add the similarity score calculation (using jaccard similarity) and sorting the master courses in our dataframe regarding on similarity scores and overall scores.

In [27]:
# Define the updated preprocess_text function
def preprocess_text(text):
    # Handling NaN/float values
    if not isinstance(text, str):
        return ''

    # Converting the text to lower case
    text = text.lower()

    # Removing punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))

    # Breaking the text into words(tokens)
    words = nltk.word_tokenize(text)

    # Removing stopwords
    stop_words = set(stopwords.words('english'))
    words = [word for word in words if word not in stop_words]

    # Stemming
    stemmer = PorterStemmer()
    words = [stemmer.stem(word) for word in words]

    # Joining the list of words to form the processed text
    processed_text = ' '.join(words)

    return processed_text

# Function to calculate Jaccard similarity score
def calculate_jaccard_similarity(query_terms, document_terms):
    intersection = query_terms.intersection(document_terms)
    union = query_terms.union(document_terms)
    if len(union) == 0:
        return 0
    return len(intersection) / len(union)

# Execute_query function
def execute_query(query, inverted_index, df):
    # Apply text preprocessing to the query
    processed_query = preprocess_text(query)
    query_words = processed_query.split()

    # Find document_IDs for each word in the query using the inverted index
    result_document_ids = []
    for word in query_words:
        if word in inverted_index['word'].values:
            # Retrieve and flatten the list of document IDs
            word_document_ids = inverted_index.loc[inverted_index['word'] == word, 'documents_IDs'].explode().tolist()
            result_document_ids.extend(word_document_ids)

    # Remove duplicate document_IDs and sort
    result_document_ids = sorted(set(result_document_ids))

    # Retrieve the rows corresponding to the document_IDs
    relevant_docs = df.loc[result_document_ids]

    # Process the descriptions and calculate similarity scores
    relevant_docs['processed_description'] = relevant_docs['description_lemmatized'].apply(preprocess_text)
    query_terms_set = set(processed_query.split())
    relevant_docs['similarity_score'] = relevant_docs['processed_description'].apply(
        lambda doc: calculate_jaccard_similarity(query_terms_set, set(doc.split()))
    )

    # Calculate relevance scores for each document
    relevant_docs['relevance_score'] = relevant_docs.apply(lambda doc: calculate_score(doc, query), axis=1)

    # Sort documents first by relevance score, then by similarity score
    sorted_results = relevant_docs.sort_values(by=['relevance_score', 'similarity_score'], ascending=[False, False])

    # Filter out additional courses from the same university, keeping only the most relevant one
    most_relevant_per_university = sorted_results.drop_duplicates(subset='universityName')

    # Select specific columns for the final output
    final_columns = ['courseName', 'universityName', 'description', 'url', 'fees_USD', 'city', 'similarity_score', 'relevance_score']
    final_results = most_relevant_per_university[final_columns]

    return final_results

In [28]:
sample_query = 'advanced knowledge'
result = execute_query(sample_query, inverted_index, df_updated)
print(f'Number of results: {len(result)}')
result.head()

Number of results: 253

,courseName,universityName,description,url,fees_USD,city,similarity_score,relevance_score
468,Advanced Computational Methods for Aeronautics...,Imperial College London,This programme is suitable for applicants who ...,https://www.findamasters.com/masters-degrees/c...,0.0,London,0.042553,59.055
4473,MSc in Software Engineering,University of Oxford,The MSc in Software Engineering teaches the pr...,https://www.findamasters.com/masters-degrees/c...,0.0,Oxford,0.034483,58.700
3034,Doctor of Public Health,Harvard University,﻿Learn to translate knowledge into powerful re...,https://www.findamasters.com/masters-degrees/c...,0.0,Boston,0.062500,55.140
5189,MA/PGDip Heritage Studies,The University of Manchester,Course descriptionOur MA Heritage Studies mast...,https://www.findamasters.com/masters-degrees/c...,0.0,Manchester,0.025641,53.210
3983,Master of Science/Postgraduate Diploma in Envi...,The Hong Kong University of Science and Techno...,The program is meant to meet the needs of prac...,https://www.findamasters.com/masters-degrees/c...,0.0,Clear Water Bay,0.066667,47.935

## 4. Master's Degrees visualization map

In [29]:
# function to get the coordinates and country of a list of cities
def get_city_country_with_coordinates(cities):
    # Dictionary to store cities and their coordinates and countries
    city_country_coordinates = {}

    for city in cities:
        # Geolocator instance
        geolocator = Nominatim(user_agent="my_geocoder")
        location = geolocator.geocode(city)

        if location:
            city_coordinates = (location.latitude, location.longitude)
            country = location.address.split(",")[-1].strip()
            city_country_coordinates[city] = (city_coordinates, country)

        else:
            # If the city is not found, set the coordinates to None
            city_country_coordinates[city] = (None, "")
        
        time.sleep(1)

    return city_country_coordinates

In [30]:
# list of all the cities
cities = set(df_updated['city'].values)
# dictionary of cities and their coordinates and countries
city_country_coordinates = get_city_country_with_coordinates(cities)

In [31]:
# Create a DataFrame
df_city_country_coordinates = pd.DataFrame(list(city_country_coordinates.items()), columns=['City', 'Data'])

# Split the 'Data' column into 'Coordinates' and 'Country'
df_city_country_coordinates[['Coordinates', 'Country']] = pd.DataFrame(df_city_country_coordinates['Data'].tolist(),
                                                                        index=df_city_country_coordinates.index)

# Drop the original 'Data' column
df_city_country_coordinates = df_city_country_coordinates.drop('Data', axis=1)

df_city_country_coordinates.head()

            City                        Coordinates         Country
0            NaN           (46.3144754, 11.0480288)          Italia
1  Wolverhampton            (52.5847651, -2.127567)  United Kingdom
2         Bergen            (60.3943055, 5.3259192)           Norge
3      The Hague  (52.07494555, 4.2696802205364515)       Nederland
4    Los Angeles          (34.0536909, -118.242766)   United States

In [32]:
def create_map(df_city_country_coordinates, query_result):
    # Create a map centered around the first city in the coordinates dataframe
    map_center = df_city_country_coordinates['Coordinates'].iloc[0]
    my_map = folium.Map(location=map_center, zoom_start=2)

    # Add markers for each city in the query result dataframe
    for city_info in query_result['city'].unique():
        # Get the coordinates and country for the current city
        city_data = df_city_country_coordinates.loc[
            df_city_country_coordinates['City'] == city_info]
        city_coordinates = city_data['Coordinates'].values[0]
        city_country = city_data['Country'].values[0]

        # Get master courses information for the current city
        city_courses = query_result[query_result['city'] == city_info]

        # Create a label for the marker with master courses information
        label = f'<link rel="stylesheet" type="text/css" href="styles.css">'  # Link to external CSS
        label += f'<h4 style="text-align:center;">{city_info}, {city_country}</h4><br>'
        for index, course in city_courses.iterrows():
            label += f'<p><b>Course:</b> {course["courseName"]}</p>'
            label += f'<p><b>University:</b> {course["universityName"]}</p>'
            
            # Separate fees information
            fees_text = f'<p><b>Tuition in USD:</b> ${course["fees_USD"]:.2f}</p>' if course["fees_USD"] != 0.00 else \
                        f'<p><b>Tuition in USD:</b> Visit the website</p>'
            label += f'{fees_text}'

            # Separate URL information
            url_text = f'<p><b>URL:</b> <a href="{course["url"]}" target="_blank">{course["url"]}</a></p>'
            label += f'{url_text}<br><br>'

        # Create and add the marker to the map
        iframe = IFrame(html=label, width=500, height=500)
        popup = folium.Popup(iframe, max_width=500)
        folium.Marker(location=city_coordinates, popup=popup).add_to(my_map)

    # Display the map in the notebook
    display(my_map)

In [33]:
# Example usage
create_map(df_city_country_coordinates, query_result)

#### Map guide

- This tool provides students with an enhanced visualization of the geographical locations of the master's degree programs they are searching for.

- The map displays location icons on cities that host the master's degree programs of interest to the student.

- Upon clicking a location icon, a pop-up tab appears, presenting detailed information about the master's degree program. This includes the course name, university name, tuition fees in USD, and a clickable URL leading to the official website of the master's degree program.